body {
  background-color: rgb(250, 250, 250);
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
}
#header #header-logo img {
  height: 50px;
  width: auto;
  margin-left: 20px;
}

#header-list-nav ul {
  display: flex;
  align-items: center;
}

#header-list-nav ul li {
  display: block;
  margin-right: 100px;
}

#header-list-nav ul li:last-child {
  margin-right: 0px;
}

#header-list-nav ul li a {
  text-align: center;
  font-size: 20px;
  color: aliceblue;
}

#header-list-nav ul li img {
  height: 30px;
  width: auto;
  margin-left: 20px;
}

/* header finised */

/* body */
#macbook {
  text-align: center;
  padding: 100px;
}
a {
  text-decoration: none;
  font-size: 20px;
}
#macbook #macimg {
  padding-top: 40px;
}
#iphone {
  text-align: center;
  background-color: black;
  color: aliceblue;
}
#iphone #iphoneimg img {
  max-width: 100%;
  max-height: 100%;
}

#iphone11 {
  text-align: center;
  color: black;
}
#iphone11 #iphoneimg img {
  max-width: 100%;
  max-height: 100%;
}

#watch {
  text-align: center;
  width: 50%;
  border: 5px solid white;
}
#watch #watchimg img {
  max-width: 100%;
  max-height: 100%;
}

#card {
  width: 50%;
  height: 300px;
  text-align: center;
  padding: 200px;
  display: inline-block;
  /* width: 50%; */
  background-image: url(images/images/home/apple-card.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  border: 5px solid white;
}

#container {
  display: flex;
  padding: 30px;
}

#tv {
  text-align: center;
  padding-top: 40px;
  background-image: url(images/images/home/apple-tv-background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  border: 5px solid white;
}
#airpod {
  text-align: center;
  color: aliceblue;
  width: 50%;
  background-color: black;
  border: 5px solid white;
}
#airpod #airimg img {
  max-width: 100%;
  max-height: 100%;
}

#ipad {
  text-align: center;
  width: 50%;
  border: 5px solid white;
}
#ipad #ipadimg img {
  max-width: 100%;
  max-height: 100%;
}
#macbody {
  text-align: center;
  border: 5px solid white;
  width: 50%;
}

/* footer begins */
#first ul li a {
  text-decoration: none;
}
footer {
  background-color: rgb(235, 236, 239);
}

#first,
#second,
#third {
  padding-right: 100px;
}
#container ul {
  list-style-type: none;
  padding-left: 0;
}
#last {
  display: flex;
  justify-content: space-between;
}
